
.App {
  max-width: 1208px;
  margin: 0 auto;
  text-align: center;
}
.ant-spin .ant-spin-dot-spin{
  margin: 300px auto;
  width: 55px;
  height: 55px;
  box-shadow: none;
}
.ant-spin .ant-spin-dot-item{
  background: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
}
.ant-btn{
  margin-top: 3px;
  padding: 1px;
  width: 75px;
  height: 30px;
}
ol{
  padding: 0;
  background: #ffffff;
}
.sort-div{
  width: 90%;
  height: 30px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: center;
  background: #ffffff;
  font-size: 22px;
  border-bottom: #000000 1px solid;
  padding: 15px;
}
.sort-div button{
  height: 40px;
}
select{
  width: 70px;
  margin-left: 2px;
  height: 30px;
  border-radius: 6px;
}
.li-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 130px;
  margin: 0px auto;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-bottom: #000000 1px solid;
  background: #ffffff;
}
.div-content-container,
.div-platforms{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 30%;
}
.div-platforms{
  width: 40%;
  display: inline-block;
  background: #00000025;
}
.platform-item{
  margin-left: 2px;
  font-size: 14px;
  color: rgb(178, 68, 28);
  text-wrap: wrap;
  width: 80px;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 22px;
  text-align: left;
  margin: 0;
  padding: 3px;
}
strong{
  background: #f9dd0299;
  border-radius: 5px;
  padding: 1px;
  
}
p{
  text-align: justify;
}
h6{
  font-size: 18px;
  margin: 30px auto;
  padding: 20px;
  text-align: justify;
}
.li-container p{
  display:inline-block;
  width: 80%;
  font-size: 30px;
  white-space: var(--noWrapText);
  overflow: hidden;
  text-overflow: ellipsis;
}
.ant-popover .ant-popover-inner{
  width: 280px;
  height: 215px;
}
.ant-carousel .slick-slide img{
  width: 280px;
  height:160px;
}
img{
  cursor: pointer;
  float: left;
  width: 200px;
  height: 100%;
}
.item-description-span,.item-description h6{
  color: rgb(0, 0, 0);
  /* margin-bottom: 30px; */
  /* border: #000000 1px solid; */
}
.item-description{
  position: relative;
  background: #ffffff;
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#error-page,
.newposts-loading{
  color: white;
  font-size: 35px;
}
.item-description >p {
  color: rgb(0, 0, 0);
  white-space: wrap;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
.item-description button{
  margin-bottom: 30px;
}
.newposts-loading{
  margin-top: 50px;
}
.active{
  visibility: visible;
}
.active-none{
  visibility: hidden;
}
@media screen and (max-width: 704px) {
  .li-container{
    padding: 3px;
  }
  .div-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  h2,span{
    font-size: 12px;
    margin-bottom: 4px;
  }
  a.button-view-post{
    font-size: 8px;
  }
  .ant-btn{
    margin-top: 0;
    width: 60px;
    height: 18px;
    line-height: 10px;
  }
  .ant-btn span{
    font-size: 10px;
  }
  select{
    font-size: 8px;
  }
  img{
    width: 35%;
    height: 60%;
    margin-top: 25px;
  }
  .platform-item{
    font-size: 8px;
    line-height: 1px;
  }
}
@media screen and (min-width: 704px) {
  .ant-popover .ant-popover-inner{
    width: 530px;
    height: 320px;
  }
  .ant-carousel .slick-slide img{
    width: 530px;
    height:280px;
  }
  select{
    width: 100px;
    margin-left: 2px;
    height: 30px;
    border-radius: 6px;
  }
}