
.App {
  max-width: 1208px;
  margin: 0 auto;
  text-align: center;
}
.ant-spin .ant-spin-dot-spin{
  margin-top: 200px;
  background: transparent;
  width: 55px;
  height: 55px;
  box-shadow: none;
}
.ant-spin .ant-spin-dot-item{
  background: white;
  width: 25px;
  height: 25px;
  /* margin: 130px auto; */
}
a.button-view-post,span{
  /* margin: 30px auto; */
  width: 150px;
  height: 5%;
  background: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: black;
  padding: 3px;
  box-shadow: var(--box-shadow);
}
a.button-view-post{
  /* float: right; */
  text-decoration: none;
}
a.button-view-post:hover{
  box-shadow: rgba(0, 0, 0, 0.623) 1px 1px 3px 1px, rgba(27, 31, 35, 0.495) 0px 0px 0px 1px;
}
ul{
  padding: 0;
}
.li-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  width: 90%;
  margin: 0px auto 20px;
  border-radius: var(--border-radius);
  padding: 15px;
  color: rgb(0, 0, 0);
  box-shadow: var(--box-shadow);
  background: #ffffff;
}
h1{
  font-size: 40px;
  color: white;
}
h2{
  font-size: 34px;
  white-space: var(--noWrapText);
}
h2,h6,p,span{
  margin-right: 20px;
}
h6{
  font-size: 18px;
  margin: 30px auto;
}
.li-container p{
  padding: 5px;
  width: 80%;
  font-size: 18px;
  white-space: var(--noWrapText);
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-description h1,.item-description a.button-view-post{
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.item-description{
  position: relative;
  background: #ffffff;
  width: 100%;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#error-page,
.newposts-loading{
  color: white;
  font-size: 35px;
}
.item-description >h1,
.item-description >p {
  white-space: wrap;
  margin: 50px auto;
  width: 80%;
  padding: 10px;
}
.newposts-loading{
  margin-top: 50px;
}