
.App {
  max-width: 1208px;
  margin: 0 auto;
  text-align: center;
}
button,span{
  margin: 30px auto;
  width: 100px;
  height: 5%;
  background: yellow;
  font-size: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: black;
  padding: 3px;
  box-shadow: var(--box-shadow);
}
ul{
  padding: 0;
}
.li-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0px auto 20px;
  background: #000000c4;
  border-radius: var(--border-radius);
  padding: 15px;
  color: white;
  box-shadow: var(--box-shadow);
}
h1{
  font-size: 34px;
  white-space: var(--noWrapText);
}
h1,h6,p,span{
  margin-right: 20px;
}
h6{
  font-size: 18px;
  margin: 30px auto;
}
p{
  font-size: 16px;
  white-space: var(--noWrapText);
  overflow: hidden;
  text-overflow: ellipsis;
}
#error-page,
.item-description{
  margin: 100px auto;
  text-align: center;
}
.item-description button{
  float: right;
  margin-right: 15px;
}